/* hide scalar */
html {
	overflow: hidden; /* disable scrolling */
}
body {
	background-color: #FFFFFF;
	background-image: none !important;
}
.middle.cover, .pathnavs, .middle.footer {
	display: none;
}
#content_wrapper {
	background: transparent;
}
.path_table {
	position: absolute;
	top: 800px;
	left: 0;
}
#reply_list {
	position: absolute;
	top: 750px;
}
#scalarnav {
	width: 150px;
}

/* format heading */
#header {
	margin-left: 180px;
	margin-top: 30px;
}

#header a#back {
}

#header h1 {
	margin-top: 5px;
	font-size: 250%;
}

#header h2 {
	font-weight: normal;
	color: #CCC;
}

#header h2 a {
	color: #89CFF0;
}

/* format clock/essay */
#clock {
	position: fixed;
	left: 200px;
	top: 120px;
}
#essay {
	display: block;
	width: 900px;
	position: absolute;
	top: 0;
	left: 1000px;
	font-size: 140%;
}
#essay ul, #essay li {
	list-style: none;
}
#essay li {
	position: relative;
	opacity: 1;
	line-height: 1.2em;
}
/* Major Times */
#essay li.major {
	font-size: 140%;
}
#essay li.major h5 {
	font-size: 60%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0px;
	left: -250px;
	width: 240px;
	text-align: right;
}